.App {
  text-align: center;
}

body {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-header h1 {
  font-size: 1.3em;
}


.App-home p{
  margin: 0.5em;
}

.App-home h2{
  margin-top: 1.5em;
  font-size: 1.3em;
  color:rgb(28, 64, 131)
}

.App-home div{
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
  width: 50%;
  margin: 2em auto 0;
}

.App-home img{
  max-width: 200px;
  margin-top: 1em;
}

.difficulty-btn {
  font-size: 1.8em;
  padding: 0.7em;
  text-decoration: none;
  background-color: rgb(96, 211, 144);
  color: white;
  margin: 0em auto;
  border-radius: 0.5em;
  width: 60%;
}

.game-type-btn {
  font-size: 1.8em;
  padding: 0.7em;
  text-decoration: none;
  border-radius: 0.5em;
  /* border: 1px solid black; */
  color: white;
  margin: 0em auto;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

.gm-type-color-1{
  background-color: rgb(96, 211, 144);
}
.gm-type-color-2{
  background-color: rgb(100, 183, 216);
}

.return-btn {
  display: block;
  width: 40%;
  margin: 2em auto;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
  background-color: gray;
  border: 1px solid black;
  color: white;
}

.return-menu-btn {
  position: absolute;
  right: 1em;
  top: 0.3em;
  width: 150px;
  margin: 0.5em auto;
  font-size: 0.7em;
  padding: 1em;
  text-decoration: none;
  color: white;
}


.App-game form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25em;
  width: 80%;
  margin: 0 auto;
  padding: 1em 1em 2em;
  text-align: left;
}

.App-game form div {
  background-color: rgb(241, 241, 241);
  padding: 0.5em;
}

.App-game form label{
  display: inline-block;
  width: 70%;
  padding: 1em 2em 1em 1em;
}
.App-game form label small{
  padding-right: 1em;
}

.App-game button {
  padding: 0.75em;
  margin: 0.5em 0;
  font-size: larger;
  text-align: center;
}


.question-answered {
  font-size: larger;
  padding: 0.2em;
  font-weight: bold;
}

.correct-answer {
  border: 1px solid rgb(17, 206, 42);
}
.incorrect-answer {
  border: 1px solid rgb(228, 63, 63);
}

.quiz-info-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em 0.5em 0em;
}


.quiz-info-display h2{
  font-size: 0.85em;
  margin: 0;
}
.quiz-info-display p{
  margin: 0;
}
.quiz-info-display div{
  padding: 0.5em 0 0;
}

.extra-margin-left{
  margin-left: 1em;
}
.extra-margin-right{
  margin-right: 1em;
}


.final-score  p {
  font-size: larger;
}
.final-score h2 {
  font-size: 8em;
  width: 100%;
  background-color: rgb(165, 204, 241);
  margin: 50px 0;
}

h3 {
  margin-top: -0.5em;
}

.text-field-input{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.text-field-input input{
  margin: 1em 1em 2em;
  width: 80%;
}

.question-info{
  font-size: small;
  margin: auto 5em 1em;
}
.game-title{
  font-size: large;
}


footer {
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
}


